In [1]:
#import libraries
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy import stats
import warnings
import keras
from keras.models import Sequential
from keras.layers import Dense

C:\Users\kumar.vishwesh\AppData\Local\Continuum\anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
df= pd.read_excel(r'C:\Users\kumar.vishwesh\Music\KV\KV plan of attack\project\dataset.xlsx')

In [3]:
df['gname'].nunique()

3537

In [4]:
df['gname'].value_counts()

Unknown                                             82782
Taliban                                              7478
Islamic State of Iraq and the Levant (ISIL)          5613
Shining Path (SL)                                    4555
Farabundo Marti National Liberation Front (FMLN)     3351
Al-Shabaab                                           3288
New People's Army (NPA)                              2772
Irish Republican Army (IRA)                          2671
Revolutionary Armed Forces of Colombia (FARC)        2487
Boko Haram                                           2418
Kurdistan Workers' Party (PKK)                       2310
Basque Fatherland and Freedom (ETA)                  2024
Communist Party of India - Maoist (CPI-Maoist)       1878
Maoists                                              1630
Liberation Tigers of Tamil Eelam (LTTE)              1606
National Liberation Army of Colombia (ELN)           1561
Tehrik-i-Taliban Pakistan (TTP)                      1351
Palestinians                                         1125
Houthi extremists (Ansar Allah)                      1062
Al-Qaida in the Arabian Peninsula (AQAP)             1020
Nicaraguan Democratic Force (FDN)                     895
Manuel Rodriguez Patriotic Front (FPMR)               830
Sikh Extremists                                       716
Corsican National Liberation Front (FLNC)             639
Al-Qaida in Iraq                                      638
Muslim extremists                                     632
Donetsk People's Republic                             624
African National Congress (South Africa)              607
Separatists                                           589
Tupac Amaru Revolutionary Movement (MRTA)             557
                                                    ...
Central University students                             1
Cleansing Hand (La Mano Que Limpia)                     1
Naga People's Council (NPC)                             1
Misanthropic Division                                   1
Islamic Tendency                                        1
Aghwar "Fire War" Group                                 1
Palestinian Activists                                   1
Hasmoneans (Jewish Settler Group)                       1
Martyrs Halim Group                                     1
People's Information Group                              1
Quit Kashmir Movement (QKM)                             1
Socialist Revolutionary Brigade                         1
Powers of the Revolutionary Arc                         1
Malitia-Pro Govt                                        1
Kurdish Independence Group (name unk)                   1
Islamic Renewal Movement                                1
Organization for the oppresed in Egypt's Prisons        1
Supreme Islamic Council                                 1
Random Anarchists                                       1
Agudat Israel Party                                     1
Palestinian Liberation Command                          1
Fight Against Authority                                 1
Mullah Dadullah Front                                   1
Grupo Libertad                                          1
Georgian Sabotage Group                                 1
Aisha Umm-al Mouemeneen (Brigades of Aisha)             1
Chondaehyop (Radical Student Coalition)                 1
Anya-Nya II Militia                                     1
Ariska Brodraskapet (Aryan Brotherhood)                 1
New Revolutionary Alternative (NRA)                     1
Name: gname, Length: 3537, dtype: int64

In [5]:
threshold = 0.01 * len(df)
threshold

1816.91

In [6]:
value_counts = df['gname'].value_counts()
to_remove = value_counts[value_counts <= threshold].index
df['gname'].replace(to_remove, 'rare', inplace=True)

In [7]:
df['gname'].value_counts()

Unknown                                             82782
rare                                                58064
Taliban                                              7478
Islamic State of Iraq and the Levant (ISIL)          5613
Shining Path (SL)                                    4555
Farabundo Marti National Liberation Front (FMLN)     3351
Al-Shabaab                                           3288
New People's Army (NPA)                              2772
Irish Republican Army (IRA)                          2671
Revolutionary Armed Forces of Colombia (FARC)        2487
Boko Haram                                           2418
Kurdistan Workers' Party (PKK)                       2310
Basque Fatherland and Freedom (ETA)                  2024
Communist Party of India - Maoist (CPI-Maoist)       1878
Name: gname, dtype: int64

In [8]:
# list of columns with only one unique values including NAN and dropping them from df
l=[]
for c in df.columns:
    if df[c].nunique(dropna=False)==1 :
        l.append(c)
l

[]

In [9]:
df.drop_duplicates()
df.shape

(181691, 135)

In [10]:
df.isnull().mean()

eventid               0.000000
iyear                 0.000000
imonth                0.000000
iday                  0.000000
approxdate            0.949150
extended              0.000000
resolution            0.987781
country               0.000000
country_txt           0.000000
region                0.000000
region_txt            0.000000
provstate             0.002317
city                  0.002389
latitude              0.025076
longitude             0.025081
specificity           0.000033
vicinity              0.000000
location              0.694564
summary               0.363964
crit1                 0.000000
crit2                 0.000000
crit3                 0.000000
doubtterr             0.000006
alternative           0.840328
alternative_txt       0.840328
multiple              0.000006
success               0.000000
suicide               0.000000
attacktype1           0.000000
attacktype1_txt       0.000000
                        ...
propextent            0.647396
propextent_txt        0.647396
propvalue             0.785410
propcomment           0.681002
ishostkid             0.000980
nhostkid              0.925302
nhostkidus            0.925604
nhours                0.977638
ndays                 0.955287
divert                0.998217
kidhijcountry         0.981810
ransom                0.574107
ransomamt             0.992570
ransomamtus           0.996901
ransompaid            0.995740
ransompaidus          0.996962
ransomnote            0.997171
hostkidoutcome        0.939507
hostkidoutcome_txt    0.939507
nreleased             0.942760
addnotes              0.844302
scite1                0.364305
scite2                0.576572
scite3                0.760494
dbsource              0.000000
INT_LOG               0.000000
INT_IDEO              0.000000
INT_MISC              0.000000
INT_ANY               0.000000
related               0.862195
Length: 135, dtype: float64

In [11]:
df=df[df.columns[df.isnull().mean() < 0.8]]

In [12]:
df.shape

(181691, 67)

In [13]:
l=df.columns.tolist()
l

['eventid',
 'iyear',
 'imonth',
 'iday',
 'extended',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'gname',
 'motive',
 'guncertain1',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'ransom',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY']

In [14]:
l_rem=['eventid','country','region','attacktype1','targtype1','targsubtype1','natlty1','weaptype1','weapsubtype1','propextent','latitude','longitude','summary','scite1','scite2','scite3','motive','propcomment','iyear']

In [15]:
l= list(set(l).difference(set(l_rem)))
l

['multiple',
 'nwoundus',
 'corp1',
 'nperpcap',
 'target1',
 'nkillter',
 'natlty1_txt',
 'INT_LOG',
 'crit2',
 'attacktype1_txt',
 'dbsource',
 'gname',
 'doubtterr',
 'INT_IDEO',
 'ishostkid',
 'crit1',
 'nperps',
 'iday',
 'crit3',
 'success',
 'weapsubtype1_txt',
 'extended',
 'nkill',
 'imonth',
 'region_txt',
 'guncertain1',
 'targsubtype1_txt',
 'claimed',
 'provstate',
 'targtype1_txt',
 'weaptype1_txt',
 'nkillus',
 'nwoundte',
 'propvalue',
 'INT_ANY',
 'location',
 'individual',
 'weapdetail',
 'vicinity',
 'country_txt',
 'nwound',
 'INT_MISC',
 'propextent_txt',
 'ransom',
 'city',
 'specificity',
 'property',
 'suicide']

In [16]:
df=df[l]

In [17]:
df.head()

,multiple,nwoundus,corp1,nperpcap,target1,nkillter,natlty1_txt,INT_LOG,crit2,attacktype1_txt,...,vicinity,country_txt,nwound,INT_MISC,propextent_txt,ransom,city,specificity,property,suicide
0,0.0,NaN,NaN,NaN,Julio Guzman,NaN,Dominican Republic,0,1,Assassination,...,0,Dominican Republic,0.0,0,NaN,0.0,Santo Domingo,1.0,0,0
1,0.0,NaN,Belgian Ambassador Daughter,NaN,"Nadine Chaval, daughter",NaN,Belgium,0,1,Hostage Taking (Kidnapping),...,0,Mexico,0.0,1,NaN,1.0,Mexico city,1.0,0,0
2,0.0,NaN,Voice of America,NaN,Employee,NaN,United States,-9,1,Assassination,...,0,Philippines,0.0,1,NaN,0.0,Unknown,4.0,0,0
3,0.0,NaN,NaN,NaN,U.S. Embassy,NaN,United States,-9,1,Bombing/Explosion,...,0,Greece,NaN,1,NaN,0.0,Athens,1.0,1,0
4,0.0,NaN,NaN,NaN,U.S. Consulate,NaN,United States,-9,1,Facility/Infrastructure Attack,...,0,Japan,NaN,1,NaN,0.0,Fukouka,1.0,1,0

In [18]:
label_df=df['gname']

In [19]:
label_df

0                                                   rare
1                                                   rare
2                                                Unknown
3                                                Unknown
4                                                Unknown
5                                                   rare
6                                                   rare
7                                                Unknown
8                                                   rare
9                                                   rare
10                                                  rare
11                                                  rare
12                                               Unknown
13                                                  rare
14                                                  rare
15                                                  rare
16                                                  rare
17                                                  rare
18                                                  rare
19                                                  rare
20                                                  rare
21                                                  rare
22                                                  rare
23                                                  rare
24                                                  rare
25                                               Unknown
26                                               Unknown
27                                                  rare
28                                                  rare
29                                                  rare
                               ...
181661                                           Unknown
181662                           New People's Army (NPA)
181663                                           Unknown
181664                                           Unknown
181665    Communist Party of India - Maoist (CPI-Maoist)
181666                                        Boko Haram
181667                                              rare
181668                                           Unknown
181669                                           Unknown
181670       Islamic State of Iraq and the Levant (ISIL)
181671       Islamic State of Iraq and the Levant (ISIL)
181672                                              rare
181673                                              rare
181674       Islamic State of Iraq and the Levant (ISIL)
181675                                        Al-Shabaab
181676                                           Taliban
181677                                              rare
181678                                           Unknown
181679       Islamic State of Iraq and the Levant (ISIL)
181680                                        Al-Shabaab
181681                                              rare
181682                                           Unknown
181683                                           Taliban
181684                                              rare
181685                                           Unknown
181686                                        Al-Shabaab
181687                                              rare
181688                                              rare
181689                                           Unknown
181690                                           Unknown
Name: gname, Length: 181691, dtype: object

In [20]:
df=df.drop(['gname'],axis=1)

In [21]:
df.nunique()

multiple                2
nwoundus               44
corp1               33238
nperpcap               50
target1             86006
nkillter               96
natlty1_txt           215
INT_LOG                 3
crit2                   2
attacktype1_txt         9
dbsource               26
doubtterr               3
INT_IDEO                3
ishostkid               3
crit1                   2
nperps                113
iday                   32
crit3                   2
success                 2
weapsubtype1_txt       30
extended                2
nkill                 205
imonth                 13
region_txt             12
guncertain1             2
targsubtype1_txt      112
claimed                 3
provstate            2855
targtype1_txt          22
weaptype1_txt          12
nkillus                31
nwoundte               44
propvalue             659
INT_ANY                 3
location            44109
individual              2
weapdetail          19148
vicinity                3
country_txt           205
nwound                238
INT_MISC                3
propextent_txt          4
ransom                  3
city                36674
specificity             5
property                3
suicide                 2
dtype: int64

In [22]:
high_l=['corp1','weapdetail','location','provstate','city','target1']

In [23]:
for col in high_l:
    threshold=0.03*len(df)
    value_counts = df[col].value_counts() 
    to_remove = value_counts[value_counts <= threshold].index
    df[col].replace(to_remove, 'rare', inplace=True)

In [24]:
df.nunique()

multiple              2
nwoundus             44
corp1                 3
nperpcap             50
target1               3
nkillter             96
natlty1_txt         215
INT_LOG               3
crit2                 2
attacktype1_txt       9
dbsource             26
doubtterr             3
INT_IDEO              3
ishostkid             3
crit1                 2
nperps              113
iday                 32
crit3                 2
success               2
weapsubtype1_txt     30
extended              2
nkill               205
imonth               13
region_txt           12
guncertain1           2
targsubtype1_txt    112
claimed               3
provstate             2
targtype1_txt        22
weaptype1_txt        12
nkillus              31
nwoundte             44
propvalue           659
INT_ANY               3
location              1
individual            2
weapdetail            3
vicinity              3
country_txt         205
nwound              238
INT_MISC              3
propextent_txt        4
ransom                3
city                  3
specificity           5
property              3
suicide               2
dtype: int64

In [25]:
df.shape

(181691, 47)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 47 columns):
multiple            181690 non-null float64
nwoundus            116989 non-null float64
corp1               139141 non-null object
nperpcap            112202 non-null float64
target1             181055 non-null object
nkillter            114733 non-null float64
natlty1_txt         180132 non-null object
INT_LOG             181691 non-null int64
crit2               181691 non-null int64
attacktype1_txt     181691 non-null object
dbsource            181691 non-null object
doubtterr           181690 non-null float64
INT_IDEO            181691 non-null int64
ishostkid           181513 non-null float64
crit1               181691 non-null int64
nperps              110576 non-null float64
iday                181691 non-null int64
crit3               181691 non-null int64
success             181691 non-null int64
weapsubtype1_txt    160923 non-null object
extended            181691 non-null int64
nkill               171378 non-null float64
imonth              181691 non-null int64
region_txt          181691 non-null object
guncertain1         181311 non-null float64
targsubtype1_txt    171318 non-null object
claimed             115571 non-null float64
provstate           181270 non-null object
targtype1_txt       181691 non-null object
weaptype1_txt       181691 non-null object
nkillus             117245 non-null float64
nwoundte            112548 non-null float64
propvalue           38989 non-null float64
INT_ANY             181691 non-null int64
location            55495 non-null object
individual          181691 non-null int64
weapdetail          114021 non-null object
vicinity            181691 non-null int64
country_txt         181691 non-null object
nwound              165380 non-null float64
INT_MISC            181691 non-null int64
propextent_txt      64065 non-null object
ransom              77381 non-null float64
city                181257 non-null object
specificity         181685 non-null float64
property            181691 non-null int64
suicide             181691 non-null int64
dtypes: float64(16), int64(15), object(16)
memory usage: 65.2+ MB

In [27]:
df.isnull().sum()

multiple                 1
nwoundus             64702
corp1                42550
nperpcap             69489
target1                636
nkillter             66958
natlty1_txt           1559
INT_LOG                  0
crit2                    0
attacktype1_txt          0
dbsource                 0
doubtterr                1
INT_IDEO                 0
ishostkid              178
crit1                    0
nperps               71115
iday                     0
crit3                    0
success                  0
weapsubtype1_txt     20768
extended                 0
nkill                10313
imonth                   0
region_txt               0
guncertain1            380
targsubtype1_txt     10373
claimed              66120
provstate              421
targtype1_txt            0
weaptype1_txt            0
nkillus              64446
nwoundte             69143
propvalue           142702
INT_ANY                  0
location            126196
individual               0
weapdetail           67670
vicinity                 0
country_txt              0
nwound               16311
INT_MISC                 0
propextent_txt      117626
ransom              104310
city                   434
specificity              6
property                 0
suicide                  0
dtype: int64

In [28]:
#drop columns with rare and Nan only
df=df.drop(['location','target1'],axis=1)

In [29]:
imp_zero=['claimed','specificity','nwound','nwoundte','nperps','nkillter','nkillus','multiple','doubtterr','nperpcap','nwoundus','ransom','ishostkid','nkill','guncertain1','propvalue']

In [30]:
imp_Unknown=['targsubtype1_txt','natlty1_txt','corp1','weapdetail','weapsubtype1_txt','provstate','city','propextent_txt']

In [31]:
for col in imp_zero:
    df[col] = df[col].fillna(0)

In [32]:
for col in imp_Unknown:
    df[col] = df[col].fillna('Unknown')

In [33]:
df.isnull().sum()

multiple            0
nwoundus            0
corp1               0
nperpcap            0
nkillter            0
natlty1_txt         0
INT_LOG             0
crit2               0
attacktype1_txt     0
dbsource            0
doubtterr           0
INT_IDEO            0
ishostkid           0
crit1               0
nperps              0
iday                0
crit3               0
success             0
weapsubtype1_txt    0
extended            0
nkill               0
imonth              0
region_txt          0
guncertain1         0
targsubtype1_txt    0
claimed             0
provstate           0
targtype1_txt       0
weaptype1_txt       0
nkillus             0
nwoundte            0
propvalue           0
INT_ANY             0
individual          0
weapdetail          0
vicinity            0
country_txt         0
nwound              0
INT_MISC            0
propextent_txt      0
ransom              0
city                0
specificity         0
property            0
suicide             0
dtype: int64

In [34]:
#df of non numeric columns
obj_df = df.select_dtypes(include=['object']).copy()

In [35]:
obj_col=obj_df.columns.tolist()
num_col=list(set(df.columns.tolist())-set(obj_col))

In [36]:
num_df=df[num_col]

In [37]:
obj_df.head()

,corp1,natlty1_txt,attacktype1_txt,dbsource,weapsubtype1_txt,region_txt,targsubtype1_txt,provstate,targtype1_txt,weaptype1_txt,weapdetail,country_txt,propextent_txt,city
0,Unknown,Dominican Republic,Assassination,PGIS,Unknown,Central America & Caribbean,Named Civilian,Unknown,Private Citizens & Property,Unknown,Unknown,Dominican Republic,Unknown,rare
1,rare,Belgium,Hostage Taking (Kidnapping),PGIS,Unknown,North America,"Diplomatic Personnel (outside of embassy, cons...",rare,Government (Diplomatic),Unknown,Unknown,Mexico,Unknown,rare
2,rare,United States,Assassination,PGIS,Unknown,Southeast Asia,Radio Journalist/Staff/Facility,rare,Journalists & Media,Unknown,Unknown,Philippines,Unknown,Unknown
3,Unknown,United States,Bombing/Explosion,PGIS,Unknown Explosive Type,Western Europe,Embassy/Consulate,rare,Government (Diplomatic),Explosives,Explosive,Greece,Unknown,rare
4,Unknown,United States,Facility/Infrastructure Attack,PGIS,Unknown,East Asia,Embassy/Consulate,rare,Government (Diplomatic),Incendiary,rare,Japan,Unknown,rare

In [38]:
num_df.head()

,multiple,nwoundus,nperpcap,nkillter,INT_LOG,crit2,INT_IDEO,doubtterr,ishostkid,crit1,...,propvalue,INT_ANY,individual,vicinity,nwound,INT_MISC,ransom,specificity,property,suicide
0,0.0,0.0,0.0,0.0,0,1,0,0.0,0.0,1,...,0.0,0,0,0,0.0,0,0.0,1.0,0,0
1,0.0,0.0,0.0,0.0,0,1,1,0.0,1.0,1,...,0.0,1,0,0,0.0,1,1.0,1.0,0,0
2,0.0,0.0,0.0,0.0,-9,1,-9,0.0,0.0,1,...,0.0,1,0,0,0.0,1,0.0,4.0,0,0
3,0.0,0.0,0.0,0.0,-9,1,-9,0.0,0.0,1,...,0.0,1,0,0,0.0,1,0.0,1.0,1,0
4,0.0,0.0,0.0,0.0,-9,1,-9,-9.0,0.0,1,...,0.0,1,0,0,0.0,1,0.0,1.0,1,0

In [39]:
label_df.head()

0       rare
1       rare
2    Unknown
3    Unknown
4    Unknown
Name: gname, dtype: object

In [40]:
obj_df.shape

(181691, 14)

In [41]:
num_df.shape

(181691, 31)

In [42]:
obj_df.nunique()

corp1                 3
natlty1_txt         216
attacktype1_txt       9
dbsource             26
weapsubtype1_txt     31
region_txt           12
targsubtype1_txt    113
provstate             3
targtype1_txt        22
weaptype1_txt        12
weapdetail            4
country_txt         205
propextent_txt        4
city                  3
dtype: int64

In [43]:
label_df["gname"] = label_df.astype('category')

In [44]:
label_df['label']= label_df["gname"].cat.codes

In [45]:
label_df['label'].values

array([13, 13, 12, ..., 13, 12, 12], dtype=int8)

In [46]:
import category_encoders as ce

In [47]:
ce_hash = ce.HashingEncoder(cols = ['natlty1_txt'])

In [48]:
df_h=ce_hash.fit_transform(obj_df, label_df['label'].values)

In [49]:
l=df_h.columns.tolist()

In [50]:
l[:8]

['col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7']

In [51]:
d={}
for i in range(0,8):
    d[l[i]]=l[i]+"_"+"natlty1_txt"
print(d)

{'col_0': 'col_0_natlty1_txt', 'col_1': 'col_1_natlty1_txt', 'col_2': 'col_2_natlty1_txt', 'col_3': 'col_3_natlty1_txt', 'col_4': 'col_4_natlty1_txt', 'col_5': 'col_5_natlty1_txt', 'col_6': 'col_6_natlty1_txt', 'col_7': 'col_7_natlty1_txt'}

In [52]:
df_h=df_h.rename(columns=d)
df_h.columns

Index(['col_0_natlty1_txt', 'col_1_natlty1_txt', 'col_2_natlty1_txt',
       'col_3_natlty1_txt', 'col_4_natlty1_txt', 'col_5_natlty1_txt',
       'col_6_natlty1_txt', 'col_7_natlty1_txt', 'corp1', 'attacktype1_txt',
       'dbsource', 'weapsubtype1_txt', 'region_txt', 'targsubtype1_txt',
       'provstate', 'targtype1_txt', 'weaptype1_txt', 'weapdetail',
       'country_txt', 'propextent_txt', 'city'],
      dtype='object')

In [53]:
ce_hash = ce.HashingEncoder(cols = ['targsubtype1_txt'])

In [54]:
df_h=ce_hash.fit_transform(df_h, label_df['label'].values)

In [55]:
l=df_h.columns.tolist()
print(l[:8])

['col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7']

In [56]:
d={}
for i in range(0,8):
    d[l[i]]=l[i]+"_"+"targsubtype1_txt"
print(d)
df_h=df_h.rename(columns=d)
print(df_h.columns)

{'col_0': 'col_0_targsubtype1_txt', 'col_1': 'col_1_targsubtype1_txt', 'col_2': 'col_2_targsubtype1_txt', 'col_3': 'col_3_targsubtype1_txt', 'col_4': 'col_4_targsubtype1_txt', 'col_5': 'col_5_targsubtype1_txt', 'col_6': 'col_6_targsubtype1_txt', 'col_7': 'col_7_targsubtype1_txt'}
Index(['col_0_targsubtype1_txt', 'col_1_targsubtype1_txt',
       'col_2_targsubtype1_txt', 'col_3_targsubtype1_txt',
       'col_4_targsubtype1_txt', 'col_5_targsubtype1_txt',
       'col_6_targsubtype1_txt', 'col_7_targsubtype1_txt', 'col_0_natlty1_txt',
       'col_1_natlty1_txt', 'col_2_natlty1_txt', 'col_3_natlty1_txt',
       'col_4_natlty1_txt', 'col_5_natlty1_txt', 'col_6_natlty1_txt',
       'col_7_natlty1_txt', 'corp1', 'attacktype1_txt', 'dbsource',
       'weapsubtype1_txt', 'region_txt', 'provstate', 'targtype1_txt',
       'weaptype1_txt', 'weapdetail', 'country_txt', 'propextent_txt', 'city'],
      dtype='object')

In [57]:
ce_hash = ce.HashingEncoder(cols = ['country_txt'])

In [58]:
df_h=ce_hash.fit_transform(df_h, label_df['label'].values)

In [59]:
l=df_h.columns.tolist()
print(l[:8])
d={}
for i in range(0,8):
    d[l[i]]=l[i]+"_"+"country_txt"
print(d)
df_h=df_h.rename(columns=d)
print(df_h.columns)

['col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7']
{'col_0': 'col_0_country_txt', 'col_1': 'col_1_country_txt', 'col_2': 'col_2_country_txt', 'col_3': 'col_3_country_txt', 'col_4': 'col_4_country_txt', 'col_5': 'col_5_country_txt', 'col_6': 'col_6_country_txt', 'col_7': 'col_7_country_txt'}
Index(['col_0_country_txt', 'col_1_country_txt', 'col_2_country_txt',
       'col_3_country_txt', 'col_4_country_txt', 'col_5_country_txt',
       'col_6_country_txt', 'col_7_country_txt', 'col_0_targsubtype1_txt',
       'col_1_targsubtype1_txt', 'col_2_targsubtype1_txt',
       'col_3_targsubtype1_txt', 'col_4_targsubtype1_txt',
       'col_5_targsubtype1_txt', 'col_6_targsubtype1_txt',
       'col_7_targsubtype1_txt', 'col_0_natlty1_txt', 'col_1_natlty1_txt',
       'col_2_natlty1_txt', 'col_3_natlty1_txt', 'col_4_natlty1_txt',
       'col_5_natlty1_txt', 'col_6_natlty1_txt', 'col_7_natlty1_txt', 'corp1',
       'attacktype1_txt', 'dbsource', 'weapsubtype1_txt', 'region_txt',
       'provstate', 'targtype1_txt', 'weaptype1_txt', 'weapdetail',
       'propextent_txt', 'city'],
      dtype='object')

In [60]:
ce_hash = ce.HashingEncoder(cols =['targtype1_txt','weapsubtype1_txt','region_txt','dbsource','weaptype1_txt'])

In [61]:
df_h=ce_hash.fit_transform(df_h, label_df['label'].values)

In [62]:
print(df_h.columns)
print(df_h.shape)

Index(['col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7',
       'col_0_country_txt', 'col_1_country_txt', 'col_2_country_txt',
       'col_3_country_txt', 'col_4_country_txt', 'col_5_country_txt',
       'col_6_country_txt', 'col_7_country_txt', 'col_0_targsubtype1_txt',
       'col_1_targsubtype1_txt', 'col_2_targsubtype1_txt',
       'col_3_targsubtype1_txt', 'col_4_targsubtype1_txt',
       'col_5_targsubtype1_txt', 'col_6_targsubtype1_txt',
       'col_7_targsubtype1_txt', 'col_0_natlty1_txt', 'col_1_natlty1_txt',
       'col_2_natlty1_txt', 'col_3_natlty1_txt', 'col_4_natlty1_txt',
       'col_5_natlty1_txt', 'col_6_natlty1_txt', 'col_7_natlty1_txt', 'corp1',
       'attacktype1_txt', 'provstate', 'weapdetail', 'propextent_txt', 'city'],
      dtype='object')
(181691, 38)

In [63]:
df_h.nunique()

col_0                     5
col_1                     4
col_2                     4
col_3                     6
col_4                     5
col_5                     4
col_6                     5
col_7                     4
col_0_country_txt         2
col_1_country_txt         2
col_2_country_txt         2
col_3_country_txt         2
col_4_country_txt         2
col_5_country_txt         2
col_6_country_txt         2
col_7_country_txt         2
col_0_targsubtype1_txt    2
col_1_targsubtype1_txt    2
col_2_targsubtype1_txt    2
col_3_targsubtype1_txt    2
col_4_targsubtype1_txt    2
col_5_targsubtype1_txt    2
col_6_targsubtype1_txt    2
col_7_targsubtype1_txt    2
col_0_natlty1_txt         2
col_1_natlty1_txt         2
col_2_natlty1_txt         2
col_3_natlty1_txt         2
col_4_natlty1_txt         2
col_5_natlty1_txt         2
col_6_natlty1_txt         2
col_7_natlty1_txt         2
corp1                     3
attacktype1_txt           9
provstate                 3
weapdetail                4
propextent_txt            4
city                      3
dtype: int64

In [64]:
#one hot encoding of categorical columns
obj_col=['attacktype1_txt','city','propextent_txt','weapdetail','corp1','provstate']
df_h=pd.get_dummies(df_h, columns=obj_col, prefix=obj_col,drop_first=True)
print(df_h.columns)
print(df_h.shape)
print(num_df.shape)

Index(['col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7',
       'col_0_country_txt', 'col_1_country_txt', 'col_2_country_txt',
       'col_3_country_txt', 'col_4_country_txt', 'col_5_country_txt',
       'col_6_country_txt', 'col_7_country_txt', 'col_0_targsubtype1_txt',
       'col_1_targsubtype1_txt', 'col_2_targsubtype1_txt',
       'col_3_targsubtype1_txt', 'col_4_targsubtype1_txt',
       'col_5_targsubtype1_txt', 'col_6_targsubtype1_txt',
       'col_7_targsubtype1_txt', 'col_0_natlty1_txt', 'col_1_natlty1_txt',
       'col_2_natlty1_txt', 'col_3_natlty1_txt', 'col_4_natlty1_txt',
       'col_5_natlty1_txt', 'col_6_natlty1_txt', 'col_7_natlty1_txt',
       'attacktype1_txt_Assassination', 'attacktype1_txt_Bombing/Explosion',
       'attacktype1_txt_Facility/Infrastructure Attack',
       'attacktype1_txt_Hijacking',
       'attacktype1_txt_Hostage Taking (Barricade Incident)',
       'attacktype1_txt_Hostage Taking (Kidnapping)',
       'attacktype1_txt_Unarmed Assault', 'attacktype1_txt_Unknown',
       'city_Unknown', 'city_rare',
       'propextent_txt_Major (likely >= $1 million but < $1 billion)',
       'propextent_txt_Minor (likely < $1 million)', 'propextent_txt_Unknown',
       'weapdetail_Explosive', 'weapdetail_Unknown', 'weapdetail_rare',
       'corp1_Unknown', 'corp1_rare', 'provstate_Unknown', 'provstate_rare'],
      dtype='object')
(181691, 52)
(181691, 31)

In [65]:

class ChiSquare:
    def __init__(self, dataframe):
        self.df = dataframe
        self.p = None #P-Value
        self.chi2 = None #Chi Test Statistic
        self.dof = None
        self.dfTabular = None
        self.dfExpected = None
    def _print_chisquare_result(self, colX, alpha):
        #result = ""
        if self.p<alpha:
            #result="{0} is IMPORTANT for Prediction".format(colX)
            #print(result)
            return 0
        else:
            #result="{0} is NOT an important predictor. (Discard {0} from model)".format(colX)
            #print(result)
            return 1
            
        
    def TestIndependence(self,colX,colY, alpha=0.05):
        X = self.df[colX].astype(str)
        Y = self.df[colY].astype(str)
        
        self.dfObserved = pd.crosstab(Y,X) 
        chi2, p, dof, expected = stats.chi2_contingency(self.dfObserved.values)
        self.p = p
        self.chi2 = chi2
        self.dof = dof 
        
        self.dfExpected = pd.DataFrame(expected, columns=self.dfObserved.columns, index = self.dfObserved.index)
        
        output=self._print_chisquare_result(colX, alpha)
        return output

In [66]:
df_h.shape

(181691, 52)

In [69]:
label_df[:-2]

0                                                   rare
1                                                   rare
2                                                Unknown
3                                                Unknown
4                                                Unknown
5                                                   rare
6                                                   rare
7                                                Unknown
8                                                   rare
9                                                   rare
10                                                  rare
11                                                  rare
12                                               Unknown
13                                                  rare
14                                                  rare
15                                                  rare
16                                                  rare
17                                                  rare
18                                                  rare
19                                                  rare
20                                                  rare
21                                                  rare
22                                                  rare
23                                                  rare
24                                                  rare
25                                               Unknown
26                                               Unknown
27                                                  rare
28                                                  rare
29                                                  rare
                               ...
181661                                           Unknown
181662                           New People's Army (NPA)
181663                                           Unknown
181664                                           Unknown
181665    Communist Party of India - Maoist (CPI-Maoist)
181666                                        Boko Haram
181667                                              rare
181668                                           Unknown
181669                                           Unknown
181670       Islamic State of Iraq and the Levant (ISIL)
181671       Islamic State of Iraq and the Levant (ISIL)
181672                                              rare
181673                                              rare
181674       Islamic State of Iraq and the Levant (ISIL)
181675                                        Al-Shabaab
181676                                           Taliban
181677                                              rare
181678                                           Unknown
181679       Islamic State of Iraq and the Levant (ISIL)
181680                                        Al-Shabaab
181681                                              rare
181682                                           Unknown
181683                                           Taliban
181684                                              rare
181685                                           Unknown
181686                                        Al-Shabaab
181687                                              rare
181688                                              rare
181689                                           Unknown
181690                                           Unknown
Name: gname, Length: 181691, dtype: object

In [70]:
df_h['Label']=label_df[:-2].values

In [71]:
df_h.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_0_country_txt,col_1_country_txt,...,propextent_txt_Minor (likely < $1 million),propextent_txt_Unknown,weapdetail_Explosive,weapdetail_Unknown,weapdetail_rare,corp1_Unknown,corp1_rare,provstate_Unknown,provstate_rare,Label
0,1,1,0,0,0,0,2,1,0,0,...,0,1,0,1,0,1,0,1,0,rare
1,1,1,1,0,0,0,2,0,0,1,...,0,1,0,1,0,0,1,0,1,rare
2,1,0,1,0,0,0,2,1,0,0,...,0,1,0,1,0,0,1,0,1,Unknown
3,1,1,0,0,1,1,1,0,1,0,...,0,1,1,0,0,1,0,0,1,Unknown
4,1,1,0,1,0,0,1,1,0,0,...,0,1,0,0,1,1,0,0,1,Unknown

In [72]:
df_h['Label'].value_counts()

Unknown                                             82782
rare                                                58064
Taliban                                              7478
Islamic State of Iraq and the Levant (ISIL)          5613
Shining Path (SL)                                    4555
Farabundo Marti National Liberation Front (FMLN)     3351
Al-Shabaab                                           3288
New People's Army (NPA)                              2772
Irish Republican Army (IRA)                          2671
Revolutionary Armed Forces of Colombia (FARC)        2487
Boko Haram                                           2418
Kurdistan Workers' Party (PKK)                       2310
Basque Fatherland and Freedom (ETA)                  2024
Communist Party of India - Maoist (CPI-Maoist)       1878
Name: Label, dtype: int64

In [73]:
#Initialize ChiSquare Class
cT = ChiSquare(df_h)

In [74]:
l_exclude=[]
for var in df_h.columns.tolist()[:-1]:
    if cT.TestIndependence(colX=var,colY="Label" )==1:
        l_exclude.append(var)
l_exclude

[]

In [75]:
num_df.columns

Index(['multiple', 'nwoundus', 'nperpcap', 'nkillter', 'INT_LOG', 'crit2',
       'INT_IDEO', 'doubtterr', 'ishostkid', 'crit1', 'nperps', 'iday',
       'crit3', 'success', 'extended', 'nkill', 'imonth', 'guncertain1',
       'claimed', 'nwoundte', 'nkillus', 'propvalue', 'INT_ANY', 'individual',
       'vicinity', 'nwound', 'INT_MISC', 'ransom', 'specificity', 'property',
       'suicide'],
      dtype='object')

In [76]:
from sklearn.preprocessing import MinMaxScaler
sc_X = MinMaxScaler()
X= sc_X.fit_transform(num_df.values)
#scaled df numeric
num_df=pd.DataFrame(X,columns=num_df.columns.tolist())
num_df.head()

,multiple,nwoundus,nperpcap,nkillter,INT_LOG,crit2,INT_IDEO,doubtterr,ishostkid,crit1,...,propvalue,INT_ANY,individual,vicinity,nwound,INT_MISC,ransom,specificity,property,suicide
0,0.0,0.0,0.19604,0.0,0.9,1.0,0.9,0.9,0.9,1.0,...,3.666667e-08,0.9,0.0,0.9,0.0,0.9,0.9,0.2,0.9,0.0
1,0.0,0.0,0.19604,0.0,0.9,1.0,1.0,0.9,1.0,1.0,...,3.666667e-08,1.0,0.0,0.9,0.0,1.0,1.0,0.2,0.9,0.0
2,0.0,0.0,0.19604,0.0,0.0,1.0,0.0,0.9,0.9,1.0,...,3.666667e-08,1.0,0.0,0.9,0.0,1.0,0.9,0.8,0.9,0.0
3,0.0,0.0,0.19604,0.0,0.0,1.0,0.0,0.9,0.9,1.0,...,3.666667e-08,1.0,0.0,0.9,0.0,1.0,0.9,0.2,1.0,0.0
4,0.0,0.0,0.19604,0.0,0.0,1.0,0.0,0.0,0.9,1.0,...,3.666667e-08,1.0,0.0,0.9,0.0,1.0,0.9,0.2,1.0,0.0

In [77]:
df= pd.concat([num_df,df_h],axis=1)

In [78]:
#drop highly correlated features
#Create correlation matrix
corr_matrix = df.corr().abs()
# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
# Find index of feature columns with correlation greater than 0.9
to_drop = [column for column in upper.columns if any(upper[column] > 0.9)]
to_drop

['INT_IDEO',
 'col_2_natlty1_txt',
 'col_3_natlty1_txt',
 'propextent_txt_Unknown']

In [79]:
# Drop features 
df.drop(to_drop, axis=1, inplace=True)
df.head()

,multiple,nwoundus,nperpcap,nkillter,INT_LOG,crit2,doubtterr,ishostkid,crit1,nperps,...,propextent_txt_Major (likely >= $1 million but < $1 billion),propextent_txt_Minor (likely < $1 million),weapdetail_Explosive,weapdetail_Unknown,weapdetail_rare,corp1_Unknown,corp1_rare,provstate_Unknown,provstate_rare,Label
0,0.0,0.0,0.19604,0.0,0.9,1.0,0.9,0.9,1.0,0.003944,...,0,0,0,1,0,1,0,1,0,rare
1,0.0,0.0,0.19604,0.0,0.9,1.0,0.9,1.0,1.0,0.004223,...,0,0,0,1,0,0,1,0,1,rare
2,0.0,0.0,0.19604,0.0,0.0,1.0,0.9,0.9,1.0,0.003944,...,0,0,0,1,0,0,1,0,1,Unknown
3,0.0,0.0,0.19604,0.0,0.0,1.0,0.9,0.9,1.0,0.003944,...,0,0,1,0,0,1,0,0,1,Unknown
4,0.0,0.0,0.19604,0.0,0.0,1.0,0.0,0.9,1.0,0.003944,...,0,0,0,0,1,1,0,0,1,Unknown

In [80]:
df.to_csv(r'C:\Users\kumar.vishwesh\Music\KV\KV plan of attack\project\df.csv')

In [82]:
df.shape

(181691, 80)

In [83]:
from sklearn.model_selection import train_test_split
X_df = df.iloc[:, :-1]
y = df.iloc[:, 79]

In [84]:
# convert integers to dummy variables (i.e. one hot encoded)
from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(y)
encoded_Y = encoder.transform(y)
# convert integers to dummy variables (i.e. one hot encoded)
y_df = np_utils.to_categorical(encoded_Y)

In [85]:
len(y_df[0])

14

In [86]:
train_x, test_x, train_y, test_y = train_test_split(X_df,y_df,test_size = 0.2, random_state = 0)

In [88]:
# create model
model = Sequential()
model.add(Dense(47, input_dim=79, activation='relu'))
model.add(Dense(14, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [89]:
model.fit(train_x, train_y, epochs = 100, batch_size = 10)

Epoch 1/100
145352/145352 [==============================] - 26s 182us/step - loss: 0.4671 - acc: 0.8229
Epoch 2/100
145352/145352 [==============================] - 28s 190us/step - loss: 0.3580 - acc: 0.8565
Epoch 3/100
145352/145352 [==============================] - 27s 184us/step - loss: 0.3391 - acc: 0.8628
Epoch 4/100
145352/145352 [==============================] - 29s 203us/step - loss: 0.3293 - acc: 0.8679
Epoch 5/100
145352/145352 [==============================] - 33s 227us/step - loss: 0.3212 - acc: 0.8712
Epoch 6/100
145352/145352 [==============================] - 29s 199us/step - loss: 0.3168 - acc: 0.8727
Epoch 7/100
145352/145352 [==============================] - 20s 136us/step - loss: 0.3111 - acc: 0.8753
Epoch 8/100
145352/145352 [==============================] - 19s 133us/step - loss: 0.3072 - acc: 0.8761
Epoch 9/100
145352/145352 [==============================] - 17s 115us/step - loss: 0.3030 - acc: 0.8784
Epoch 10/100
145352/145352 [==============================] - 17s 117us/step - loss: 0.2998 - acc: 0.8800
Epoch 11/100
145352/145352 [==============================] - 17s 117us/step - loss: 0.2969 - acc: 0.8813
Epoch 12/100
145352/145352 [==============================] - 25s 175us/step - loss: 0.2942 - acc: 0.8821
Epoch 13/100
145352/145352 [==============================] - 28s 193us/step - loss: 0.2919 - acc: 0.8842
Epoch 14/100
145352/145352 [==============================] - 29s 198us/step - loss: 0.2887 - acc: 0.8837
Epoch 15/100
145352/145352 [==============================] - 29s 200us/step - loss: 0.2874 - acc: 0.88464s - loss: 0.2866 - ETA:  - ETA: 1s -
Epoch 16/100
145352/145352 [==============================] - 29s 199us/step - loss: 0.2856 - acc: 0.88663s - loss: 0.2851 - - ETA: 0s - loss: 0.2855 -
Epoch 17/100
145352/145352 [==============================] - 28s 193us/step - loss: 0.2841 - acc: 0.8865
Epoch 18/100
145352/145352 [==============================] - 26s 180us/step - loss: 0.2824 - acc: 0.88721s -
Epoch 19/100
145352/145352 [==============================] - 26s 176us/step - loss: 0.2816 - acc: 0.8873
Epoch 20/100
145352/145352 [==============================] - 27s 187us/step - loss: 0.2814 - acc: 0.88751
Epoch 21/100
145352/145352 [==============================] - 27s 183us/step - loss: 0.2798 - acc: 0.8876
Epoch 22/100
145352/145352 [==============================] - 26s 182us/step - loss: 0.2783 - acc: 0.8888
Epoch 23/100
145352/145352 [==============================] - 27s 184us/step - loss: 0.2781 - acc: 0.8886
Epoch 24/100
145352/145352 [==============================] - 27s 186us/step - loss: 0.2764 - acc: 0.8894
Epoch 25/100
145352/145352 [==============================] - 25s 175us/step - loss: 0.2757 - acc: 0.8895
Epoch 26/100
145352/145352 [==============================] - 26s 180us/step - loss: 0.2754 - acc: 0.88963s
Epoch 27/100
145352/145352 [==============================] - 26s 180us/step - loss: 0.2749 - acc: 0.8901
Epoch 28/100
145352/145352 [==============================] - 25s 174us/step - loss: 0.2741 - acc: 0.88953s - loss: 0.274 - ETA: 1s -
Epoch 29/100
145352/145352 [==============================] - 26s 178us/step - loss: 0.2737 - acc: 0.8898
Epoch 30/100
145352/145352 [==============================] - 26s 176us/step - loss: 0.2732 - acc: 0.8899
Epoch 31/100
145352/145352 [==============================] - 25s 170us/step - loss: 0.2722 - acc: 0.8904
Epoch 32/100
145352/145352 [==============================] - 26s 180us/step - loss: 0.2725 - acc: 0.8906
Epoch 33/100
145352/145352 [==============================] - 26s 178us/step - loss: 0.2715 - acc: 0.8907
Epoch 34/100
145352/145352 [==============================] - 26s 176us/step - loss: 0.2715 - acc: 0.8911
Epoch 35/100
145352/145352 [==============================] - 19s 134us/step - loss: 0.2703 - acc: 0.8918
Epoch 36/100
145352/145352 [==============================] - 18s 126us/step - loss: 0.2704 - acc: 0.8923
Epoch 37/100
145352/145352 [==============================] - 20s 139us/step - loss: 0.2701 - acc: 0.8923
Epoch 38/100
145352/145352 [==============================] - 20s 141us/step - loss: 0.2687 - acc: 0.8920
Epoch 39/100
145352/145352 [==============================] - 18s 125us/step - loss: 0.2686 - acc: 0.8920
Epoch 40/100
145352/145352 [==============================] - 18s 126us/step - loss: 0.2688 - acc: 0.8925
Epoch 41/100
145352/145352 [==============================] - 19s 134us/step - loss: 0.2680 - acc: 0.8922
Epoch 42/100
145352/145352 [==============================] - 17s 120us/step - loss: 0.2676 - acc: 0.8930
Epoch 43/100
145352/145352 [==============================] - 18s 121us/step - loss: 0.2676 - acc: 0.8926
Epoch 44/100
145352/145352 [==============================] - 20s 135us/step - loss: 0.2668 - acc: 0.8933
Epoch 45/100
145352/145352 [==============================] - 24s 164us/step - loss: 0.2668 - acc: 0.8930
Epoch 46/100
145352/145352 [==============================] - 20s 134us/step - loss: 0.2666 - acc: 0.8930
Epoch 47/100
145352/145352 [==============================] - 18s 124us/step - loss: 0.2664 - acc: 0.8931
Epoch 48/100
145352/145352 [==============================] - 19s 129us/step - loss: 0.2659 - acc: 0.8928
Epoch 49/100
145352/145352 [==============================] - 19s 134us/step - loss: 0.2657 - acc: 0.8939
Epoch 50/100
145352/145352 [==============================] - 20s 137us/step - loss: 0.2648 - acc: 0.8944
Epoch 51/100
145352/145352 [==============================] - 25s 173us/step - loss: 0.2643 - acc: 0.8943
Epoch 52/100
145352/145352 [==============================] - 20s 139us/step - loss: 0.2647 - acc: 0.8943
Epoch 53/100
145352/145352 [==============================] - 21s 147us/step - loss: 0.2646 - acc: 0.8936 0s - loss: 0.2649 - acc
Epoch 54/100
145352/145352 [==============================] - 26s 178us/step - loss: 0.2642 - acc: 0.8943
Epoch 55/100
145352/145352 [==============================] - 16s 110us/step - loss: 0.2636 - acc: 0.8940
Epoch 56/100
145352/145352 [==============================] - 16s 109us/step - loss: 0.2633 - acc: 0.89441s -
Epoch 57/100
145352/145352 [==============================] - 17s 116us/step - loss: 0.2631 - acc: 0.8949
Epoch 58/100
145352/145352 [==============================] - 17s 118us/step - loss: 0.2626 - acc: 0.8946
Epoch 59/100
145352/145352 [==============================] - 15s 101us/step - loss: 0.2629 - acc: 0.8943
Epoch 60/100
145352/145352 [==============================] - 14s 94us/step - loss: 0.2621 - acc: 0.8958
Epoch 61/100
145352/145352 [==============================] - 15s 102us/step - loss: 0.2620 - acc: 0.8954
Epoch 62/100
145352/145352 [==============================] - 14s 98us/step - loss: 0.2615 - acc: 0.8947
Epoch 63/100
145352/145352 [==============================] - 14s 94us/step - loss: 0.2616 - acc: 0.8950
Epoch 64/100
145352/145352 [==============================] - 12s 86us/step - loss: 0.2617 - acc: 0.8952
Epoch 65/100
145352/145352 [==============================] - 13s 91us/step - loss: 0.2615 - acc: 0.8953
Epoch 66/100
145352/145352 [==============================] - 13s 90us/step - loss: 0.2607 - acc: 0.8958
Epoch 67/100
145352/145352 [==============================] - 13s 87us/step - loss: 0.2611 - acc: 0.8953
Epoch 68/100
145352/145352 [==============================] - 12s 86us/step - loss: 0.2604 - acc: 0.8960
Epoch 69/100
145352/145352 [==============================] - 13s 87us/step - loss: 0.2607 - acc: 0.8957
Epoch 70/100
145352/145352 [==============================] - 13s 92us/step - loss: 0.2603 - acc: 0.8956
Epoch 71/100
145352/145352 [==============================] - 13s 92us/step - loss: 0.2600 - acc: 0.8959
Epoch 72/100
145352/145352 [==============================] - 12s 85us/step - loss: 0.2593 - acc: 0.8964
Epoch 73/100
145352/145352 [==============================] - 13s 89us/step - loss: 0.2596 - acc: 0.8964
Epoch 74/100
145352/145352 [==============================] - 13s 86us/step - loss: 0.2595 - acc: 0.8964
Epoch 75/100
145352/145352 [==============================] - 13s 91us/step - loss: 0.2596 - acc: 0.8965
Epoch 76/100
145352/145352 [==============================] - 13s 90us/step - loss: 0.2590 - acc: 0.8957
Epoch 77/100

145352/145352 [==============================] - 13s 89us/step - loss: 0.2588 - acc: 0.8959
Epoch 78/100
145352/145352 [==============================] - 15s 103us/step - loss: 0.2584 - acc: 0.8962
Epoch 79/100
145352/145352 [==============================] - 17s 114us/step - loss: 0.2585 - acc: 0.8963
Epoch 80/100
145352/145352 [==============================] - 20s 136us/step - loss: 0.2583 - acc: 0.8967
Epoch 81/100
145352/145352 [==============================] - 18s 126us/step - loss: 0.2585 - acc: 0.8970
Epoch 82/100
145352/145352 [==============================] - 18s 124us/step - loss: 0.2578 - acc: 0.8967
Epoch 83/100
145352/145352 [==============================] - 18s 127us/step - loss: 0.2573 - acc: 0.8967
Epoch 84/100
145352/145352 [==============================] - 17s 119us/step - loss: 0.2572 - acc: 0.8972
Epoch 85/100
145352/145352 [==============================] - 18s 121us/step - loss: 0.2579 - acc: 0.89670s - loss: 0.2575 - acc: 0
Epoch 86/100
145352/145352 [==============================] - 18s 125us/step - loss: 0.2573 - acc: 0.8966
Epoch 87/100
145352/145352 [==============================] - 17s 119us/step - loss: 0.2566 - acc: 0.8969
Epoch 88/100
145352/145352 [==============================] - 17s 120us/step - loss: 0.2570 - acc: 0.8974
Epoch 89/100
145352/145352 [==============================] - 18s 121us/step - loss: 0.2566 - acc: 0.8968
Epoch 90/100
145352/145352 [==============================] - 18s 126us/step - loss: 0.2563 - acc: 0.8977
Epoch 91/100
145352/145352 [==============================] - 17s 119us/step - loss: 0.2558 - acc: 0.8978
Epoch 92/100
145352/145352 [==============================] - 18s 123us/step - loss: 0.2558 - acc: 0.8979
Epoch 93/100
145352/145352 [==============================] - 19s 129us/step - loss: 0.2561 - acc: 0.8974
Epoch 94/100
145352/145352 [==============================] - 17s 120us/step - loss: 0.2561 - acc: 0.8983
Epoch 95/100
145352/145352 [==============================] - 17s 119us/step - loss: 0.2562 - acc: 0.8979
Epoch 96/100
145352/145352 [==============================] - 21s 144us/step - loss: 0.2560 - acc: 0.8976
Epoch 97/100
145352/145352 [==============================] - 20s 137us/step - loss: 0.2556 - acc: 0.8972
Epoch 98/100
145352/145352 [==============================] - 18s 124us/step - loss: 0.2561 - acc: 0.8977
Epoch 99/100
145352/145352 [==============================] - 18s 121us/step - loss: 0.2550 - acc: 0.8983
Epoch 100/100
145352/145352 [==============================] - 19s 129us/step - loss: 0.2558 - acc: 0.8981

In [90]:
scores = model.evaluate(test_x, test_y)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

36339/36339 [==============================] - 1s 20us/step

acc: 89.56%